.banner{
    background-image: url('https://firebasestorage.googleapis.com/v0/b/parqueadero-ae3bf.appspot.com/o/baner2.jpg?alt=media&token=80e225d0-9b65-4b20-b051-66135599c623');
    background-position: top center;
    background-size: cover;
    padding: 10% 20% 30% 20%;
}